# Build results
Bin/
Binaries/
DerivedDataCache/
Intermediate/
Plugins/*/Intermediate/
Saved/

# Built data for maps
*_BuiltData.uasset

.vscode
.vs
*.VC.db
*.log
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace